body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #5A84E0;
    color: white;
    text-align: center;
    display: flex;
    align-items: center ;
    justify-content: center;
    gap: 600px;
    padding: 0;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.hero {
    text-align: center;
    padding: 50px;
}

.btn {
    background-color: #5A84E0;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    border-radius: 3px;
}

.formtitle{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 40px;
}
form {
    width: 300px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px rgb(210, 210, 210);
}

label, input, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button {
    background-color: #5A84E0;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5A84E0;
}

.product-container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to the next line */
    gap: 20px; /* Adds space between product boxes */
    justify-content: space-between;
}
.product {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 20%;
    text-align: center;
    border-radius: 3px;
}

.cart {
    text-align: center;
    padding: 50px;
}
